{ my $opt = {
         'testdsn' => '',
         'testport' => '',
         'testpassword' => '',
         'testhost' => '',
         'testuser' => 'test',
         'testdb' => 'test',
         'testdriver' => 'mysql'
       };
  sub load_all { return (
      driver   => $opt->{'testdriver'},
      host     => $opt->{'testhost'},
      port     => $opt->{'testport'},
      user     => $opt->{'testuser'},
      password => $opt->{'testpassword'},
      db       => $opt->{'testdb'},
      dsn      => $opt->{'testdsn'},
      ) }
} 1;
